@use "../../navigation/navigation";
@use "../../variables";

.getVerified {
	display: none;
	@media screen and (width>=988px) {
		display: flex;
		flex-direction: column;
		width: 290px;
		min-height: 126px;
		background-color: variables.$sub-theme-color;
		border: 1px solid variables.$sub-theme-color;
		margin-bottom: 16px;
		border-radius: 17px;
		box-sizing: border-box;
	}

	@media screen and (width>=1078px) {
		max-width: 350px;
		width: 350px;
	}

	&_container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		padding: 12px 16px;
		box-sizing: border-box;
		row-gap: 10px;
	}

	&_header {
		font-family: chirp;
		font-weight: 900;
		font-size: 20px;
	}

	&_text {
		font-size: 15px;
		font-weight: 700;
		height: 20px;
		padding: 1px 0px;
		box-sizing: border-box;
	}

	&_button_container {
		height: 36px;
		box-sizing: border-box;
		display: flex;
		align-items: center;
	}

	&_button_wrapper {
		@extend .nav_tweet-button_container_button-wrapper;
		color: rgb(255, 255, 255);
		text-decoration: none;
		background-color: black;
		height: 36px;
		min-width: 120.148px;
		max-width: 120.148px;
		padding: 0px 16px;
		box-sizing: border-box;
		border-radius: 99px;
	}

	&_button_text {
		@extend .nav_tweet-button_container_text;
		display: flex;
		align-items: center;
		font-size: 15px;
		line-height: 20px;
		height: 20px;
		font-weight: 700;
		text-size-adjust: 100%;
		color: rgb(255, 255, 255);
	}
}
