@use "../variables";

.navigation {
	z-index: 3;
	position: sticky;
	order: 3;
	display: flex;
	bottom: 0;
	margin: 0;
	padding: 0;
	margin-top: auto;
	border-top: var(--main-border-style);
	height: 53.5px;
	min-height: 53.5px;
	max-height: 53.5px; //both heights required + purposefully diff from twitter actual height in order to avoid creating wrapper inside nav
	width: 100%;
	box-sizing: border-box;
	background-color: variables.$theme-color;

	@media only screen and (width>=500px) and (height>=500px) {
		flex-direction: column;
		flex: 1 0 auto;
		height: max-content;
		max-height: 100vh;
		min-height: max-content;
		width: 68px;
		max-width: 68px;
		border-top: 0;
		margin: 0;
		padding: 0 4px;
		order: unset;
		overflow-y: hidden;
		justify-content: space-between;
		align-items: center;
		top: 0;
		overflow-x: hidden;
		overflow-y: scroll;

		@media screen and (height>=662px) {
			min-height: 100%;
		}
	}

	@media only screen and (width>=600px) {
		padding: 0;
		max-width: unset;
		width: 88px;
		max-width: 88px;
		border: none;
	}

	@media only screen and (width>=688px) {
		width: 88px;
		max-width: unset;
		flex: 1 0 auto;
		align-items: end;
		padding: 0 8px;
	}

	@media only screen and (width>=988px) {
		width: 68px;
		flex: 1 0 auto;
		align-items: end;
		overflow-y: hidden;
		padding: 0;
	}

	@media screen and (width>=1008px) {
		width: 88px;
		flex: 1 0 auto;
		overflow-y: hidden;
	}

	@media screen and (width>=1078px) {
		width: 88px;
		align-items: end;
	}
	@media screen and (width>=1265px) {
		width: 275px;
		align-items: end;
		padding: 0;
	}
}
