@use "scss";
@use "./scss/variables";
@use "./scss/mixins";
@import "../node_modules/normalize.css/normalize.css";

@font-face {
	font-family: "chirp";
	src: url("./assets/fonts/Chirp-Regular.80fda27a.woff2") format("woff2");
	font-weight: 400; //regular
}

@font-face {
	font-family: "chirp";
	src: url("./assets/fonts/Chirp-Medium.f8e2739a.woff2") format("woff");
	font-weight: 500; //medium;;
}

@font-face {
	font-family: "chirp";
	src: url("./assets/fonts/Chirp-Bold.ebb56aba.woff2") format("woff2");
	font-weight: 700; //bold
}

@font-face {
	font-family: "chirp";
	src: url("./assets/fonts/Chirp-Heavy.f44ae4ea.woff2") format("woff2");
	font-weight: 900; //heavy;;
}
@font-face {
	font-family: "chirp";
	src: url("./assets/fonts/Chirp-Light.3a18e64a.woff2") format("woff2");
	font-weight: 300; //light
}

:root {
	--header-height: 107px;
	--tweet-box-height: 188px;
	--main-border-style: 1px solid rgb(239, 243, 244);
}

::placeholder {
	color: #536471;
}

:focus {
	outline: 0;
}

section,
div,
p,
img,
ul,
ol,
li {
	margin: 0;
	padding: 0;
}

.alignment-boxes {
	flex: 1 1 50%;
	height: 100%;
	margin: 0;
	padding: 0;

	@media screen and (width>=500px) {
		display: none;
	}
}

.hidden500 {
	display: none !important;
	@media only screen and (width>=500px) and (height>=500px) {
		display: flex !important;
	}
}

.hidden750-h {
	display: none !important;
	@media only screen and (width>=500px) and (height>=750px) {
		display: flex !important;
	}
}

.hidden688 {
	display: none !important;
	@media only screen and (width>=688px) {
		display: flex !important;
	}
}

.hidden705 {
	display: none !important;
	@media only screen and (width>=705px) {
		display: flex !important;
	}
}

.hidden-More {
	display: none !important;
}

.overflow-x-v {
	overflow-x: visible;
}

.justify-stretch {
	justify-content: stretch;
}

.flex-b1 {
	flex-basis: 1;
}
.flex-b3 {
	flex-basis: 3;
}

.App {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: chirp;
	font-weight: light;
	background-color: variables.$theme-color;

	@media only screen and (width>=500px) and (height>=500px) {
		flex-direction: row;
		overflow-y: scroll;
	}
}

.write-tweet-icon {
	width: 24px;
	height: 24px;
	margin: 0;
	padding: 0;
	fill: white;
	position: absolute;
	@media screen and (width>=1265px) {
		display: none;
	}
}

/* #profile-pill:hover {
	background-color: rgba(220, 220, 220, 255);
} */

button:hover {
	background-color: #1d8ad3;
}

.custom-containers-margin {
	display: none;
	@media screen and (width>=988px) {
		display: flex;
		width: 20px;
	}

	@media screen and (width>=1078px) {
		display: flex;
		width: 30px;
	}
}

.main_sidebar-container {
	display: none;

	@media screen and (width>=688px) {
		position: sticky;
		height: min-content;
		display: contents;
		width: auto;
		flex: 1 0 auto;
		flex-direction: column;
		overflow-x: hidden;
		scrollbar-width: none;
	}

	@media screen and (width>=988px) {
		width: 290px;
		flex: 0 0 auto;
		margin-right: 10px;
		max-width: 290px;
		box-sizing: border-box;
		z-index: 0;
	}

	@media screen and (width>=1078px) {
		max-width: 350px;
		width: 350px;
	}

	@media screen and (width>=1078px) {
		max-width: 350px;
		width: 350px;
	}

	&::-webkit-scrollbar {
		display: none;
	}
}

.filler {
	display: hidden;
	width: 0;
}

.whiteSpace-right {
	display: none;
	@media screen and (width>=988px) {
		display: flex;
		flex: 1 0 auto;
	}

	@media screen and (width>=1008px) {
		display: flex;
		width: 0px;
		flex: 1 0 auto;
	}

	@media screen and (width>=1025px) {
		display: flex;
		width: 8.5px;
		flex: 1 0 auto;
	}

	@media screen and (width>=1078px) {
		width: 0px;
		flex: 1 0 auto;
	}

	@media screen and (width>=1265px) {
		width: 0px;
		flex: 1 0 auto;
	}
}
