@use "scss";
@use "./scss/variables";
@use "./scss/mixins";
@import "../node_modules/normalize.css/normalize.css";


$sub-theme-color: rgba(239, 243, 244, 0.5);

@font-face {
	font-family: "chirp";
	src: url("./assets/fonts/Chirp-Regular.80fda27a.woff2") format("woff2");
	font-weight: 400; //regular
}

@font-face {
	font-family: "chirp";
	src: url("./assets/fonts/Chirp-Medium.f8e2739a.woff2") format("woff");
	font-weight: 500; //medium;;
}

@font-face {
	font-family: "chirp";
	src: url("./assets/fonts/Chirp-Bold.ebb56aba.woff2") format("woff2");
	font-weight: 700; //bold
}

@font-face {
	font-family: "chirp";
	src: url("./assets/fonts/Chirp-Heavy.f44ae4ea.woff2") format("woff2");
	font-weight: 900; //heavy;;
}
@font-face {
	font-family: "chirp";
	src: url("./assets/fonts/Chirp-Light.3a18e64a.woff2") format("woff2");
	font-weight: 300; //light
}

:root {
	--header-height: 107px;
	--tweet-box-height: 188px;
	--main-border-style: 1px solid rgb(239, 243, 244);
}

::placeholder {
	color: #536471;
}

:focus {
	outline: 0;
}

section,
div,
p,
img,
ul,
ol,
li {
	margin: 0;
	padding: 0;
}

.alignment-boxes {
	flex: 1 1 50%;
	height: 100%;
	margin: 0;
	padding: 0;

	@media screen and (width>=500px) {
		display: none;
	}
}

.hidden500 {
	display: none !important;
	@media only screen and (width>=500px) and (height>=500px) {
		display: flex !important;
	}
}

.hidden750-h {
	display: none !important;
	@media only screen and (width>=500px) and (height>=750px) {
		display: flex !important;
	}
}

.hidden688 {
	display: none !important;
	@media only screen and (width>=688px) {
		display: flex !important;
	}
}

.hidden705 {
	display: none !important;
	@media only screen and (width>=705px) {
		display: flex !important;
	}
}

.hidden-More {
	display: none !important;
}

.overflow-x-v {
	overflow-x: visible;
}

.wrapper {
	display: flex;
	min-width: 100%;
	height: 100%;
	align-items: start;

	@media screen and (width>=500px) and (height >=500px) {
		flex-direction: column;
		min-height: max-content;
		max-height: max-content;
		height: max-content;
		width: min-content;
		overflow-y: visible;
		padding: 0;

		@media screen and (height>=855px) {
			min-height: 704.5px;
		}
	}

	@media screen and (width>=988px) {
		width: 100%;
	}
}

.wrappers {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.wrappers--flex {
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.wrappers--flex-column {
	display: flex;
	flex-direction: column;
}

.justify-stretch {
	justify-content: stretch;
}

.flex-b1 {
	flex-basis: 1;
}
.flex-b3 {
	flex-basis: 3;
}

.App {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: chirp;
	font-weight: light;
	background-color: variables.$theme-color;

	@media only screen and (width>=500px) and (height>=500px) {
		flex-direction: row;
		overflow-y: scroll;
	}
}



.write-tweet-icon {
	width: 24px;
	height: 24px;
	margin: 0;
	padding: 0;
	fill: white;
	position: absolute;
	@media screen and (width>=1265px) {
		display: none;
	}
}



/* #profile-pill:hover {
	background-color: rgba(220, 220, 220, 255);
} */

button:hover {
	background-color: #1d8ad3;
}






.timeline_wrapper {
	width: 100%;
	height: auto;
	padding: 0;
	z-index: 0;
}
.timeline_body {
	width: 100%;
	box-sizing: border-box;
	padding: 0;
	margin-top: -0.5px;
	:hover {
		background-color: rgb(239, 243, 244);
	}
	@media screen and (width>=500px) {
		margin-top: 0;
	}

	&_tweets-card {
		display: flex;
		height: min-content;
		width: 100%;
		box-sizing: border-box;
		//margin-top: 12px;
		padding: 12px 17px;
		border-bottom: var(--main-border-style);
		text-decoration: none;

		@media screen and (width>=500px) {
			padding: 12px 16px;
		}
	}

	&_profile-picture-wrapper {
		width: 40px;
		margin-right: 12px;
		flex: 0 0 auto;
		text-decoration: underline;
		img {
			height: 40px;
			border-radius: 3px;
		}
	}

	&_main-section-container {
		width: 288px;
		flex: 1 0 auto;
		border: none;
	}

	&_header {
		display: flex;
		font-size: 15px;
		max-height: 20px;
		margin-bottom: 3px;
		font-weight: 400;
		color: rgb(83, 100, 113);
		line-height: 20px;
		justify-content: start;
		box-sizing: border-box;
		padding: 0 0;

		&_user-name-wrapper {
			overflow-x: hidden;
			overflow-y: hidden;
			overflow-wrap: normal;
			text-overflow: ellipsis;
		}

		&_user-name {
			max-height: 100%;
			font-weight: 700;
			color: black;
			overflow-wrap: normal;
			overflow-x: hidden;
			overflow-y: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			text-decoration: none;
		}
		&_user-name:hover {
			text-decoration: underline;
		}

		&_checkmark-wrapper {
			margin-left: 2px;
		}
		&_checkmark {
			width: 18.75px;
			aspect-ratio: 1/1;
			fill: rgb(29, 155, 240);
		}
		&_checkmark--gold {
			@extend .timeline_body_header_checkmark;
			fill: rgb(209, 136, 0);
		}
		&_checkmark--grey {
			@extend .timeline_body_header_checkmark;
			fill: rgb(130, 154, 171);
		}
		&_handle {
			margin-left: 4px;
			margin-right: 4px;
			overflow-x: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		&_posting-time {
			margin-left: 4px;
			margin-right: 20px;
		}

		&_ellipsis {
			display: flex;
			align-items: center;
			min-width: 18.75px;
			aspect-ratio: 1/1;
			margin-left: auto;
			fill: rgb(83, 100, 113);
		}
	}

	&_tweet-text {
		height: max-content;
		max-width: 100%;
		word-wrap: break-word;
		line-height: 18px;
		color: rgba(0, 0, 0, 1);
		pre {
			margin: inherit;
			font: inherit;
			max-width: inherit;
			word-wrap: inherit;
			white-space: pre-wrap;
		}
	}
	&_media-wrapper {
		width: 100%;
		//height: 357.5px;
		margin-top: 14px;
		box-sizing: border-box;
		border: 1px solid white;
	}
	&_media {
		width: 100%;
		//height: 357.5px;
		border-radius: 5%;
	}
	&_statistics-row {
		display: flex;
		justify-content: space-between;
		min-width: 100%;
		height: 32px;
		box-sizing: border-box;
		padding-top: 12px;

		@media screen and (width>=579px) {
			max-width: 425px;
		}

		&_group {
			display: flex;
			align-items: start;
			justify-content: start;
			width: min-content;
			fill: rgb(83, 100, 113);
			color: rgb(83, 100, 113);
		}

		&_icons {
			display: flex;
			width: 18.75px;
			aspect-ratio: 1/1;
			fill: inherit;
		}

		&_icons-wrapper {
			background-color: none;
			border-radius: 50%;
			margin: none;
			padding: none;
		}

		&_values {
			font-size: 13px;
			height: 20px;
			line-height: 16px;
			display: flex;
			align-items: center;
			justify-content: start;
			box-sizing: border-box;
			padding: 0px 4px;
			color: inherit;
			fill: inherit;

			@media screen and (width>=500px) {
				padding: 0px 12px;
			}
		}
	}
}

.custom-containers-margin {
	display: none;
	@media screen and (width>=988px) {
		display: flex;
		width: 20px;
	}

	@media screen and (width>=1078px) {
		display: flex;
		width: 30px;
	}
}

.main_sidebar-container {
	display: none;

	@media screen and (width>=688px) {
		position: sticky;
		height: min-content;
		display: contents;
		width: auto;
		flex: 1 0 auto;
		flex-direction: column;
		overflow-x: hidden;
		scrollbar-width: none;
	}

	@media screen and (width>=988px) {
		width: 290px;
		flex: 0 0 auto;
		margin-right: 10px;
		max-width: 290px;
		box-sizing: border-box;
		z-index: 0;
	}

	@media screen and (width>=1078px) {
		max-width: 350px;
		width: 350px;
	}

	@media screen and (width>=1078px) {
		max-width: 350px;
		width: 350px;
	}

	&::-webkit-scrollbar {
		display: none;
	}
}

.filler {
	display: hidden;
	width: 0;
}

.main_sidebar-container_wrapper1 {
	@media screen and (width>=988px) {
		flex-basis: 1 0 auto;
		height: 10000px;
		display: flex;
		position: sticky;
		top: 0;
		flex-direction: column;
		align-items: center;
		width: 290px;
	}
	@media screen and (width>=1078px) {
		max-width: 350px;
		width: 350px;
	}
}

.main_sidebar-container_wrapper2 {
	width: 100%;
	height: min-content;
	display: contents;
	flex-direction: column;
	position: sticky;
	z-index: 0;
	top: 0;
}

.main_sidebar-container_wrapper3 {
	width: 100%;
	position: sticky;
	top: -143px;
}

.searchBar {
	display: none;

	@media screen and (width>=988px) {
		background-color: variables.$theme-color;
		position: sticky;
		top: 0px !important;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: start;
		width: 290px;
		height: 53px;
		min-height: 44px;
		margin-bottom: 12px;
		border: none;
	}

	@media screen and (width>=1078px) {
		max-width: 350px;
		width: 350px;
	}
	&_wrapper {
		@media screen and (width>=988px) {
			box-sizing: border-box;
			width: 100%;
			height: 44px;
			border: 1px solid rgb(239, 243, 244);
			border-radius: 99px;
			margin-top: 4.5px;
			background-color: rgb(239, 243, 244);
		}
	}

	&_container {
		@media screen and (width>=988px) {
			width: 100%;
			height: 100%;
			border-radius: 99px;

			box-sizing: border-box;
			display: flex;
			align-items: center;
			//border: solid 1px white;
		}
	}
	&_searchIcon-wrapper {
		min-width: 44px;
		max-width: 44px;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		fill: rgb(83, 100, 113);
	}

	&_search-icon {
		//@extend .nav_nav-icons;
		height: 18.75px;
		width: 44px;
		margin: 0;
		margin-left: 12px;
		padding: 0;
	}

	&_searchIcon-wrapper--focused {
		@extend .searchBar_searchIcon-wrapper;
		fill: rgb(0, 143, 253);
	}

	&_input {
		@extend .searchBar_container;
		border: none;
		background-color: transparent;
		margin: 0;
		outline: none;
		display: flex;
		padding: 13px 0 12px 12px;
		font-stretch: extra-expanded;
		border: 0;
		height: 18px;
	}

	&_input::placeholder {
		font-size: 15px;
		letter-spacing: normal;
		text-align: left;
		line-height: normal;
		font-stretch: 100%;
		font-weight: 400;
	}

	&_prompt-wrapper {
		display: none;
		position: absolute;
		top: 48.5px;
		width: 100%;
		height: 100px;
		z-index: 1;
		box-sizing: border-box;
		padding: 20px 12px 12px 12px;
		background-color:variables.$theme-color;
		border-radius: 8px;
		box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px;
		box-shadow: rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
	}

	&_prompt {
		display: flex;
		width: 100%;
		height: 20px;
		font-size: 15px;
		font-weight: 400;
		line-height: 20px;
		text-align: center;
		justify-content: center;
		//margin-left: 17px;
		color: rgb(83, 100, 113);
		word-wrap: wrap;
		overflow-wrap: break-word;
		//text-indent: -2px;
	}
}

.searchBar--focused {
	@extend .searchBar;

	.searchBar_wrapper {
		border: solid 1px rgb(0, 143, 253);
		background-color: rgb(255, 255, 255);
	}

	.searchBar_input {
		border: none;
	}

	.searchBar_prompt-wrapper {
		display: flex;
		justify-content: center;
	}
}

.getVerified {
	display: none;
	@media screen and (width>=988px) {
		display: flex;
		flex-direction: column;
		width: 290px;
		min-height: 126px;
		background-color: $sub-theme-color;
		border: 1px solid $sub-theme-color;
		margin-bottom: 16px;
		border-radius: 17px;
		box-sizing: border-box;
	}

	@media screen and (width>=1078px) {
		max-width: 350px;
		width: 350px;
	}

	&_container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		padding: 12px 16px;
		box-sizing: border-box;
		row-gap: 10px;
	}

	&_header {
		font-family: chirp;
		font-weight: 900;
		font-size: 20px;
	}

	&_text {
		font-size: 15px;
		font-weight: 700;
		height: 20px;
		padding: 1px 0px;
		box-sizing: border-box;
	}

	&_button_container {
		height: 36px;
		box-sizing: border-box;
		display: flex;
		align-items: center;
	}

	&_button_wrapper {
		@extend .nav_tweet-button_container_button-wrapper;
		color: rgb(255, 255, 255);
		text-decoration: none;
		background-color: black;
		height: 36px;
		min-width: 120.148px;
		max-width: 120.148px;
		padding: 0px 16px;
		box-sizing: border-box;
		border-radius: 99px;
	}

	&_button_text {
		@extend .nav_tweet-button_container_text;
		display: flex;
		align-items: center;
		font-size: 15px;
		line-height: 20px;
		height: 20px;
		font-weight: 700;
		text-size-adjust: 100%;
		color: rgb(255, 255, 255);
	}
}

.subscribeToPremium {
	@extend .getVerified;
	min-height: 166px;

	@media screen and (width>=1078px) {
		min-height: 146px;
		max-height: 146px;
	}
	&_container {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		min-height: 164px;
		padding: 12px 16px;
		box-sizing: border-box;
		row-gap: 10px;

		@media screen and (width>=1078px) {
			min-height: 144px;
			max-height: 144px;
		}
	}

	&_header {
		font-family: chirp;
		font-weight: 900;
		font-size: 20px;
		line-height: 24px;
	}

	&_text {
		font-size: 15px;
		line-height: 20px;
		font-weight: 700;
		height: 60px;
		//padding: 1px 0px;
		box-sizing: border-box;
	}

	&_button_container {
		height: 36px;
		box-sizing: border-box;
		display: flex;
		align-items: center;
	}

	&_button_wrapper {
		@extend .nav_tweet-button_container_button-wrapper;
		@include mixins.hover-btn-bg(false);
		color: rgb(255, 255, 255);
		text-decoration: none;
		background-color: black;
		height: 36px;
		min-width: 106.86px;
		max-width: 106.86px;
		//padding: 0px 16px;
		box-sizing: border-box;
		border-radius: 99px;
	}

	&_button_text {
		@extend .nav_tweet-button_container_text;
		display: flex;
		align-items: center;
		font-size: 15px;
		line-height: 20px;
		height: 20px;
		font-weight: 700;
		text-size-adjust: 100%;
		color: rgb(255, 255, 255);
		padding-bottom: 2px;
	}
}

.trending {
	display: none;
	@media screen and (width>=988px) {
		display: flex;
		flex-direction: column;
		width: 290px;
		min-height: min-content;
		background-color: $sub-theme-color;
		margin-bottom: 16px;
		border-radius: 17px;
		box-sizing: border-box;
		border: solid 1px $sub-theme-color;
	}

	@media screen and (width>=1078px) {
		max-width: 350px;
		width: 350px;
		min-height: 520px;
	}

	&_cards-header {
		display: flex;
		justify-content: start;
		align-items: center;
		height: 48px;
		font-size: 20px;
		font-family: chirp;
		font-weight: bold;
		width: 100%;
		width: 288px;
		padding: 12px 16px;
		box-sizing: border-box;
	}

	&_cards-header_text {
		border: none;
		min-width: 178.281px;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-weight: 800;
		font-family: chirp;
	}

	&_cards {
		@include mixins.hover-bg(0);
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 82px;
		padding: 12px 16px;
		box-sizing: border-box;
		text-decoration: none;
		color: unset;
	}

	&_cards-with-image {
		@extend .trending_cards;
		height: 92px;
		width: 100%;
	}

	&_cards-with-image_wrapper {
		@extend .wrappers--flex;
		width: 100%;
		margin-right: 12px;
		box-sizing: border-box;
		flex-direction: column;
		align-items: stretch;

		&_categories {
			font-size: 13px;
			height: 16px;
			padding: 0;
			box-sizing: border-box;
			padding-top: 2px;
			margin-bottom: 4px;
			display: flex;
			align-items: start;
			justify-content: space-between;
			color: rgb(83, 100, 113);
		}
	}

	/* &_cards-with-image_categories {
		font-size: 13px;
		height: 20px;
		padding: 2.25px 0;
		box-sizing: border-box;
		display: flex;
		align-items: center;
	}

	&_cards-with-image_categories_text {
		max-height: 15.5px;
		line-height: 16px;
		font-weight: 400;
		display: flex;
	} */

	/* &_cards-with-image_ellipsis {
		margin-left: auto;
		max-width: 18.75px;
		max-height: 11px;
		aspect-ratio: 1/1;
		width: 18.75px;
	} */

	&_categories {
		font-size: 13px;
		height: 16px;
		padding: 0;
		box-sizing: border-box;
		display: flex;
		align-items: start;
		justify-content: space-between;
		color: rgb(83, 100, 113);
	}

	/* &_categories_text {
		max-height: 15.5px;
		line-height: 16px;
		font-weight: 400;
		display: flex;
	} */

	&_categories_ellipsis {
		margin-left: auto;
		aspect-ratio: 1/1;
		width: 18.75px;
		//height: 100%;
		box-sizing: border-box;
		margin-top: 1.5px;
		fill: rgb(83, 100, 113);
	}

	&_images {
		width: 68px;
		height: 68px;
		border-radius: 12px;
	}

	/* &_categories {
			display: flex;
			justify-content: space-between;
			height: 16px;
			font-size: 13px;
			color: rgb(83, 100, 113);
		} */

	&_topics {
		height: 20px;
		margin-top: 2px;
		font-family: chirp;
		font-weight: 700;
		font-size: 15px;
		display: flex;
		align-items: center;
	}

	&_scopes {
		height: 16px;
		margin-top: 4px;
		font-size: 13px;
		color: rgb(83, 100, 113);
	}

	&_cards_footer {
		@include mixins.hover-bg(0 0 14px 14px);
		width: 100%;
		height: 52px;
		box-sizing: border-box;
		padding: 16px;
		text-decoration: none;
		a {
			color: rgb(29, 155, 240);
			text-decoration: none;
			font-size: 15px;
			font-weight: 400;
		}
	}
}

.follow-recommendations {
	width: 100%;
	display: none;
	@media screen and (width>=988px) {
		display: flex;
		flex-direction: column;
		background-color: $sub-theme-color;
		border-radius: 16px;
		margin-bottom: 16px;
		border: 1px solid $sub-theme-color;
		box-sizing: border-box;
		height: fit-content;
	}

	&_cards_header {
		display: flex;
		align-items: center;
		height: 48px;
		font-size: 20px;
		font-family: chirp;
		font-weight: 800;
		width: 100%;
		width: 288px;
		padding: 12px 16px;
		box-sizing: border-box;
		span {
			border: none;
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
	}

	&_cards {
		@include mixins.hover-bg(0);
		display: flex;
		width: 100%;
		height: 65.5546875px;
		padding: 12px 16px;
		box-sizing: border-box;
		text-decoration: none;

		&_wrapper {
			display: flex;
			padding: 0;
			margin: 0;
			width: 100%;
			height: 41.0625px;
			min-height: 41.0625px;
		}
		&_container {
			@extend .profile-wrapper_container;
			padding: 0;
			height: 100%;
		}

		&_user-info {
			display: flex;
			margin-right: 12px;
			display: flex;
			flex-direction: column;
			width: 114px;
			padding: 0px;
			font-size: 15px;
			box-sizing: border-box;
			flex-basis: 1 0 auto;
			overflow-x: hidden;

			@media screen and (width>=1078px) {
				min-width: 169.75px;
				width: 169.75px;
				margin-right: 4px;
				padding: 0px;
			}

			b {
				padding-bottom: 2px;
				text-overflow: ellipsis;
				overflow-x: hidden;
			}
			b:hover {
				text-decoration: underline;
			}
			div {
				padding-top: 2px;
				color: #536471;
				overflow-x: hidden;
				text-overflow: ellipsis;
			}
		}

		&_image {
			@extend .profile-wrapper_image;
			margin-right: 12px;
		}

		span {
			height: 40px;
		}
	}

	&_button_container {
		width: 78px;
		max-height: 40px;
		padding: 0;
		display: flex;
		justify-content: end;
		align-items: center;

		@media screen and (width>=1078px) {
			margin-left: auto;
		}
	}

	&_button_wrapper {
		@extend .nav_tweet-button_container_button-wrapper;
		@include mixins.hover-btn-bg(false);
		border-radius: 99px;
		height: 32px;
		width: 78px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #0f1419;
		text-decoration: none;
	}

	&_button_text {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		font-weight: 700;
		color: white;
		margin: 0;
		height: 100%;
		//padding-top:2px;
	}

	&_cards-footer {
		@include mixins.hover-bg(0 0 14px 14px);
		width: 288px;
		height: 52px;
		box-sizing: border-box;
		padding: 16px;
		text-decoration: none;
		a {
			color: rgb(29, 155, 240);
			text-decoration: none;
			font-size: 15px;
		}
		@media screen and (width>=1078px) {
			width: 348px;
		}
	}
}

.more-info {
	display: none;
	@media screen and (width>=988px) {
		display: flex;
		width: 288px;
		height: 40px;
		margin: 0 16px;
		box-sizing: border-box;
		flex-wrap: wrap;
		row-gap: 5px;
		&_elements {
			display: flex;
			align-items: center;
			text-decoration: none;
		}

		&_elements:hover {
			text-decoration: underline;
			color: rgb(83, 100, 113);
		}

		&_text {
			font-size: 13px;
			font-weight: 400;
			margin-right: 12px;
			display: flex;
			align-items: center;
			color: rgb(83, 100, 113);
		}

		&_ellipsis {
			width: 17px;
			height: 13px;
			margin-top: 2px;
			padding: 3px 2px 0px 2px;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			fill: rgb(83, 100, 113);

			@media screen and (width>=988px) {
				padding: 0px;
			}
		}
	}

	@media screen and (width>=1078px) {
		width: 318px;
	}
}

.whiteSpace-right {
	display: none;
	@media screen and (width>=988px) {
		display: flex;
		flex: 1 0 auto;
	}

	@media screen and (width>=1008px) {
		display: flex;
		width: 0px;
		flex: 1 0 auto;
	}

	@media screen and (width>=1025px) {
		display: flex;
		width: 8.5px;
		flex: 1 0 auto;
	}

	@media screen and (width>=1078px) {
		width: 0px;
		flex: 1 0 auto;
	}

	@media screen and (width>=1265px) {
		width: 0px;
		flex: 1 0 auto;
	}
}
