@use "./variables";

@mixin hover-bg($border-radius, $no-bg: false, $blue-bg: false) {
	@media screen and (width>=1265px) {
		&:hover {
			@if $no-bg {
				background-color: variables.$theme-color;
			} @else if $blue-bg {
				background-color: lightblue;
				border-radius: $border-radius;
			} @else {
				background-color: lightgrey;
				border-radius: $border-radius;
			}
		}
	}
}

@mixin hover-btn-bg($enabled: true) {
	&:hover {
		@if $enabled {
			background-color: rgba(23, 124, 192);
		} @else {
			background-color: rgb(0, 0, 0);
		}
	}
}

@mixin active-bg($border-radius) {
	&:active {
		background-color: lightgrey;
		border-radius: $border-radius;
	}
}
